
aside section {
    min-width: 165px;
    max-width: 330px;
}

aside div h2 {
    margin-left: -5px;
}

aside section > div {
    margin-left: 10px;
}

aside section > div > div > h3, section > h3 {
    margin-left: -5px;
}

.fighters div:nth-child(2) div {
    display: flex;
}

.fighters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
}

.fighters div:nth-child(2) div h3 {
    display: inline-block;
}

.fighters div:nth-child(2) div {
    justify-content: space-between;
    align-items: center;
}

form div {
    display: flex;
    justify-content: space-between;
}

.buttons {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}
.select-fighters {
    text-align: right;
    margin-bottom: 5px;
}