
aside {
    display: flex;
    flex-direction: column;
    width: 99%;
    margin-right: 10px;
}

aside section {
    width: 98%;
    border: 1px solid rgba(204, 204, 204, 0.486);
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#hero, #enemy {
    width: 100%;
}

#hero option,
#enemy option {
    width: 100%;
}

aside h2 {
    margin-left: -5px;
}

aside section h3  {
    margin-left: -5px;
}

.fighters div:nth-child(2) div {
    display: flex;
}

.fighters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.fighters div:nth-child(2) div h3 {
    display: inline-block;
}

.fighters > div:nth-child(2) > div {
    width: 80%;
    justify-content: space-between;
    align-items: baseline;
}

form:not(.edit-fighters) div,
form.edit-fighters > div > div {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1200px) {
    aside {
        width: initial;
    }
    aside section {
        min-width: 165px;
        max-width: 100%;
    }
}
.buttons {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}
.buttons-game {
    justify-content:space-between;
}
.select-fighters {
    margin-bottom: 5px;
}

form.edit-fighters {
    display: grid;
    grid-template-columns: auto 1fr;
}

form.edit-fighters {
    --epr-hover-bg-color: rgb(253, 253, 253);
    --epr-bg-color: rgba(0, 0, 0);
    --epr-category-label-bg-color: #3f3f3fc3;
    --epr-emoji-size: 22px;
    --epr-text-color: #c7c5c5;
    --epr-emoji-gap: 1px;
}