

html {
  font-size: 13px;
  background-color: #000000c3;
  color: #c7c5c5;
  height: 100vh;
  width: 97%;
}

.content {
  /* display: grid;
  grid-auto-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 5px;
  height: auto;
  width: 100%;
}

.content > * {
  box-sizing: border-box;
}

h3 {
  margin-top: 0;
}

button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width:1200px) {
  .content {
    flex-direction: initial;
    height: 80vh;
  }
}

.simulation {
  position: fixed;
  top: 5%;
  right: 13%;
}

.simulation #simulation {
  width: 90px;
}

.loosing {
  color: rgb(202, 33, 33);
}

.weapon {
  color: rgb(253, 181, 74);
}

.shield {
  color: rgb(37, 183, 250);
}

span {
  transition: 2s ease-in-out;
  font-size: x-large;
  font-weight: 500;
}

.win {
  color: rgb(38, 224, 38);
  animation-name: win;
  animation-duration: 12s;
  animation-delay: 3s;
}

.death {
  color: rgb(238, 31, 31);
  animation-name: death;
  animation-duration: 12s;
  animation-delay: 3s;
}

@keyframes win {
  from {
    color: rgb(38, 224, 38);
  }

  to {
    color: #cbcbcb;
  }
}

@keyframes death {
  from {
    color: rgb(238, 31, 31);
  }

  to {
    color: #cbcbcb;
  }
}